<div class="row p-center">
    <div class="col-12 text-center">
        <img src="~/images/campaigns/MicrosoftESD.gif" alt="Microsoft ESD" />
    </div>
    <div class="col-12 pt-3 text-center">
        <h4>Si desea tener acceso a la compra en l&iacute;nea de productos Microsoft consulte con su ejecutivo de cuenta.</h4>
    </div>
</div>
<style type="text/css">
    .p-center {
        padding: 150px 0 150px 0;
    }
</style>