:root {
    --bg-aprove-1: #2fdd57;
    --bg-aprove-2: #218838;
    --bg-aprove-3: #1e7e34;
    --bg-aprove-4: #1c7430;
    --bg-aprove-5: rgba(72, 180, 97, 0.5);
    --bg-deny-1: #f53043;
    --bg-deny-2: #b71b2a;
    --bg-deny-3: #bd2130;
    --bg-deny-4: #b21f2d;
    --bg-deny-5: rgba(225, 83, 97, 0.5);
}

body {
}

.k-listview {
    border-color: transparent;
    box-shadow: none;
    overflow-x: hidden;
    overflow-y: hidden;
}

    .k-listview:after {
        content: ".";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
        border-color: transparent;
    }

    .k-listview .request:nth-child(even) {
        background: #f5f3f3;
        border-radius: 8px;
    }

.request {
    color: #5f5f5f;
    padding-top: 8px;
    padding-bottom: 4px;
}

    .request .row {
        margin-left: 0;
        margin-right: 0;
    }

.employee-name {
    font-size: 1.8em;
    font-weight: 700;
}

.available-days {
    margin-left: 15px;
}

.request-date {
    margin-left: 15px;
    font-size: 0.95em;
    font-style: italic;
}

.request-type {
    font-size: 1.1em;
    font-weight: 500;
    font-style: italic;
}

.reason {
    margin-left: 8px;
    font-weight: 500;
}

.comments {
    margin-left: 8px;
    font-style: italic;
}

label {
    font-size: 1.1em;
    font-style: italic
}

.from-date, .to-date {
    margin-left: 8px;
    font-size: 1.2em;
    font-weight: 600;
}

.days {
    font-size: 1.3em;
    font-weight: 500;
    font-style: italic;
    margin-right: 4px;
}

.replacement {
    margin-left: 15px;
    font-size: 1.3em;
    font-style: italic;
    font-weight: 600;
}

.aprove-request, .deny-request {
    width: 95%;
    margin-top: 9px;
}

.aprove-request {
    color: #fff;
    background-color: var(--bg-aprove-1);
    border-color: var(--bg-aprove-1);
}

    .aprove-request:hover {
        color: #fff;
        background-color: var(--bg-aprove-2);
        border-color: var(--bg-aprove-3);
    }

    .aprove-request:focus, .aprove-request.focus {
        color: #fff;
        background-color: var(--bg-aprove-2);
        border-color: var(--bg-aprove-3);
        box-shadow: 0 0 0 0.2rem var(--bg-aprove-5);
    }

    .aprove-request.disabled, .aprove-request:disabled {
        color: #fff;
        background-color: #ccc; /*var(--bg-aprove-1);*/
        border-color: #aaa; /*var(--bg-aprove-1);*/
    }

    .aprove-request:not(:disabled):not(.disabled):active, .aprove-request:not(:disabled):not(.disabled).active,
    .show > .aprove-request.dropdown-toggle {
        color: #fff;
        background-color: var(--bg-aprove-3);
        border-color: var(--bg-aprove-4);
    }

        .aprove-request:not(:disabled):not(.disabled):active:focus, .aprove-request:not(:disabled):not(.disabled).active:focus,
        .show > .aprove-request.dropdown-toggle:focus {
            box-shadow: 0 0 0 0.2rem var(--bg-aprove-5);
        }

.deny-request {
    color: #fff;
    background-color: var(--bg-deny-1);
    border-color: var(--bg-deny-1);
}

    .deny-request:hover {
        color: #fff;
        background-color: var(--bg-deny-2);
        border-color: var(--bg-deny-3);
    }

    .deny-request:focus, .deny-request.focus {
        color: #fff;
        background-color: var(--bg-deny-2);
        border-color: var(--bg-deny-3);
        box-shadow: 0 0 0 0.2rem var(--bg-deny-5);
    }

    .deny-request.disabled, .deny-request:disabled {
        color: #fff;
        background-color: var(--bg-deny-1);
        border-color: var(--bg-deny-1);
    }

    .deny-request:not(:disabled):not(.disabled):active, .deny-request:not(:disabled):not(.disabled).active,
    .show > .deny-request.dropdown-toggle {
        color: #fff;
        background-color: var(--bg-deny-3);
        border-color: var(--bg-deny-4);
    }

        .deny-request:not(:disabled):not(.disabled):active:focus, .deny-request:not(:disabled):not(.disabled).active:focus,
        .show > .deny-request.dropdown-toggle:focus {
            box-shadow: 0 0 0 0.2rem var(--bg-deny-5);
        }
