body {
}

#detail-request .row > div {
    padding-top: 0.6em;
}

label, .label {
    font-weight: 500;
    font-family: "Poppins";
    color: #444;
}

.form-data {
    margin-left: 10px;
    font-weight: 600;
    color: #3c6b9f;
    font-size: 1.2em;
}

.panel {
    border-radius: 7px;
    padding: 9px 15px;
    height: 100%;
}

    .panel span {
        display: block;
    }

        .panel span.no-break {
            display: inline;
        }

.master {
    background-color: #02a002;
    color: #FFF;
    margin-right: -15px;
}

.detail-1 {
    background-color: #4eade4;
    color: #FFF;
    margin-right: -15px;
}

.detail-2 {
    background-color: #f1eda8;
    color: #5a5a5a;
}

.label-name, .label-start-date, .label-years, .label-total-days, .label-days-taken {
    font-weight: 300;
}

.name {
    font-weight: 500;
    font-size: 1.6em;
}

.start-date {
    font-weight: 500;
    font-size: 1.5em;
}

.years span {
    font-weight: 500;
    font-size: 2.8em;
    color: #FFF;
}

.total-days span, .days-taken span, .remaining-days span {
    font-weight: 600;
    font-size: 1.7em;
}

.total-days, .remaining-days {
    margin-top: 16px;
}

    .total-days span, .remaining-days span {
        color: #FFF;
    }

.days-taken span {
    color: #5a5a5a;
}

.label-days-taken, .label-years {
    margin-bottom: 16px;
}

.label-years {
    margin-left: 6px;
}

.years:hover, .total-days:hover, .days-taken:hover, .remaining-days:hover, .rejected-days:hover {
    text-decoration: none;
}

.remaining-days {
    font-size: 1.8em;
}

    .remaining-days span {
        margin-top: 10px;
    }

.rejected-days {
    font-weight: 600;
}

    .rejected-days span {
        color: #5a5a5a;
    }

.no-employee {
    min-height: 520px;
    text-align: center;
    font-size: 2.5em;
    font-weight: 600;
    padding: 250px 0;
    color: #555;
}

.text-right .k-column-title {
    text-align: end;
}

.grid-wrap {
    border-radius: 5px;
    background-color: #ccc;
    padding: 8px 6px 4px;
    margin-top: 6px;
}

    .grid-wrap label {
        font-size: 1em;
        font-weight: 500;
        font-style: italic;
        color: #555;
    }

.add-request {
    margin-bottom: 10px;
}

.k-invalid-msg {
    display: inline;
}

.selected-days {
    font-size: 1.5em;
}

    .selected-days span {
        color: #0f5c0f;
        font-size: 3em;
        font-weight: 700;
    }

.k-listview {
    border-color: transparent;
    box-shadow: none;
    overflow-x: hidden;
    overflow-y: hidden;
}

    .k-listview:after {
        content: ".";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
        border-color: transparent;
    }

    .k-listview .request:nth-child(even) {
        background: #f5f3f3;
    }

.request {
    color: #5f5f5f;
    padding-top: 8px;
    padding-bottom: 8px;
}

    .request .row {
        margin-left: 0;
        margin-right: 0;
    }

        .request .row .col {
            line-height: 1em;
        }

.label-data {
    font-size: 1.15em;
    font-weight: 500;
    margin-left: 8px;
}

.request-date {
    /*margin-left: 20px;*/
    font-style: italic;
    font-weight: 500;
}

.reason-label {
    font-size: 1.1em;
    font-weight: 500;
}

.reason {
    margin-left: 10px;
    font-weight: 500;
}

.replacement, .manager {
    font-size: 1.15em;
    font-style: oblique;
    font-weight: 600;
}

.state {
    font-weight: 600;
    font-size: 1.7em;
}

.request.sent .state {
    color: #34b9b9;
}

.request.rejected .state {
    color: #b02a2a;
}

.request.cancelled .state {
    color: #cacaca;
}

.request.approved .state {
    color: #0c6f0c;
}

.request .btn {
    display: none;
}

.request.sent .action-cancel, .request.sent .action-open, .request.open .action-edit, .request.open .action-cancel, .request.open .action-send, .request.cancelled .action-open, .request.rejected .action-open {
    display: inline;
}

.k-notification {
    font-size: 1.5em;
}

    .k-notification .fas {
        float: left;
        margin: 17px 20px;
        font-size: 1.6em;
    }

        .k-notification .fas.fa-times {
            float: right;
            margin: -9px -4px 0 0;
            font-size: 0.9em;
        }

        .k-notification .fas.fa-times-circle {
            margin: 25px 25px 5px 5px;
            font-size: 2.5em;
        }

    .k-notification p {
        line-height: 3
    }

    .k-notification > div {
        width: 500px;
    }

.k-notification-sent {
    background-color: #0c6f0c;
    color: #fff;
}

.k-notification-cancelled {
    background-color: #D51923;
    color: #fff;
}

.k-notification-open {
    background-color: #f6f772;
    color: #222;
}
