@{
    ViewData["Title"] = "Estadísticas Alcancía Ganadora";
}
<div class="row">
    <div class="col-12 col-sm-7">
        <h3 class="title">@ViewBag.Title</h3>
    </div>
    <div class="col-12 col-sm-5 text-right">
        <a class="btn btn-secondary d-none" title="Exportar a Excel" role="button" href="#" id="action-excel"><i class="far fa-file-excel"></i></a>
        <a class="btn btn-secondary" title="Mostrar Panel de B&uacute;squeda" data-toggle="collapse" href="#filter-box" role="button" aria-expanded="false" aria-controls="filter-box"><i class="fas fa-search"></i></a>
    </div>
</div>
<div class="row">
    <div class="col">
        <div id="filter-box" class="bg-light px-2 py-3 collapse show">
            <div class="row">
                <div class="col">
                    <div id="months-list"></div>
                </div>
                <div class="col">
                    <div id="product-list"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <div id="resume-by-city"></div>
    </div>
    <div class="col-6">
        <div id="resume-by-month"></div>
    </div>
    <div class="col-6">
        <div id="top-skus"></div>
    </div>
    <div class="col-6">
        <div id="resume-top-by-user"></div>
    </div>
    <div class="col-6">
        <div id="resume-top-by-client"></div>
    </div>
    <div class="col">
        <div id="resume-by-type"></div>
    </div>
</div>
@section Scripts {
    <script type="text/javascript">
        var urlFilter = "@Url.Action("Filter")";
    </script>
    <environment include="Development">
        <script src="~/js/areas/marketing/piggybank-statistics-2.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/areas/marketing/piggybank-statistics-2.min.js" asp-append-version="true"></script>
    </environment>
    <script src="~/lib/highcharts/highcharts.min.js"></script>
    <script src="~/lib/highcharts/modules/exporting.min.js"></script>
    <script src="~/lib/highcharts/modules/export-data.min.js"></script>
    <script src="~/lib/highcharts/modules/drilldown.min.js"></script>
    <script src="~/lib/highcharts/modules/accessibility.min.js"></script>
}