
@{
    ViewBag.Title = "Página no encontrada";
}

<h2>@*P&aacute;gina no encontrada*@</h2>
<h3>La página que solicitó no fue encontrada</h3>
<div class="jumbotron">
    <p>El sitio ha sido remodelado para mejorar su experiencia en el mismo y hemos tenido que cambiar la dirección de las páginas.</p>
    <p>Es posible que la página que busca hubiese sido movida o eliminada, o quizas escribió la dirección incorrecta.</p>
    <p>Utilice el menú que está a la izquierda o regrese al Inicio haciendo click en el logo.</p>
</div>