body {
}

.k-listview {
    border-color: transparent;
    box-shadow: none;
    overflow-x: hidden;
    overflow-y: hidden;
}

    .k-listview:after {
        content: ".";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
        border-color: transparent;
    }

    .k-listview-content > div:nth-child(even) {
        background: #eaeaea;
    }

.doc-detail {
    padding: 12px 16px;
}

/*.d-data::after, .sale-note::after, .delivery-note::after {
    content: "\a";
    white-space: pre;
}*/

.title {
    font-weight: 600;
    margin-right: 4px;
}

.d-data, .sale-note, .delivery-note {
    margin-right: 30px;
}