@{
	ViewData["Title"] = "Correos enviados desde la Página Web";
}
<div class="row">
	<div class="col-12 col-sm-7">
		<h3 class="title">@ViewBag.Title</h3>
	</div>
	<div class="col-12 col-sm-5 text-right">
		<a class="btn btn-secondary d-none" title="Exportar a Excel" href="#" role="button" id="action-excel"><i class="far fa-file-excel"></i></a>
		<a class="btn btn-secondary" title="Mostrar Panel de B&uacute;squeda" data-toggle="collapse" href="#filter-box" role="button" aria-expanded="false" aria-controls="filter-box"><i class="fas fa-search"></i></a>
	</div>
</div>
<div class="row">
	<div class="col">
		<div id="filter-box" class="bg-light px-2 py-3 collapse show">
			<div class="row">
				<label for="number" class="col-3 col-sm-2 col-lg-1 col-xl-1 text-nowrap">N&uacute;mero</label>
				<div class="col-9 col-sm-10 col-lg-4 col-xl-3">
					<select id="search-type" style="width: 100%;">
						<option value="C">Contacto</option>
						<option value="W">Trabajo</option>
						<option value="RU">RMA Usuario Final</option>
						<option value="RD">RMA Distriduidor</option>
					</select>
					<input type="hidden" id="last-search" />
				</div>
				<label for="initial-date" class="col-3 col-sm-2 col-lg-1 col-xl-1 text-nowrap">Fecha Inicial</label>
				<div class="col-9 col-sm-4 col-lg-2 col-xl-2">
					<input type="date" id="initial-date" />
				</div>
				<label for="final-date" class="col-3 col-sm-2 col-lg-1 col-xl-1 text-nowrap">Fecha Final</label>
				<div class="col-9 col-sm-4 col-lg-3 col-xl-2">
					<input type="date" id="final-date" />
				</div>
				<div class="col col-sm col-md col-lg col-xl text-right pt-2">
					<button type="button" class="btn btn-outline-secondary mr-1" id="action-clean">Limpiar</button>
					<button type="button" class="btn btn-primary mr-2" id="action-filter">Buscar</button>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col pt-3">
		<div id="ContactList" class="d-none"></div>
		<div id="WorkList" class="d-none"></div>
		<div id="RMAList" class="d-none"></div>
	</div>
</div>
<div id="Detail"></div>
@section Scripts {
	<script type="text/javascript">
		var urlFilter = "@Url.Action("Filter")",
			urlService = "@Url.Content("~/api/reports/")";
	</script>
	<script src="~/lib/kendo-ui/js/jszip.min.js"></script>
	<script src="~/lib/ReportViewer/js/telerikReportViewer-16.2.22.914.min.js"></script>
	<script src="~/lib/ReportViewer/js/resources.es-BO.js"></script>
	<environment include="Development">
		<script src="~/js/areas/website/mails.js"></script>
	</environment>
	<environment exclude="Development">
		<script src="~/js/areas/website/mails.min.js" asp-append-version="true"></script>
	</environment>
}